@font-face {
    font-family: 'Junction';
    src: url('Junction-webfont.eot');
    src: url('Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('Junction-webfont.woff') format('woff'),
         url('Junction-webfont.ttf') format('truetype'),
         url('Junction-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
