// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#artists {
    margin: 0 auto;
    .artist {
	position:relative;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	width: 200px;
	height: 200px;
	overflow:hidden;
	border-radius: 10px;
	background-color: #a40000;
	a {
	    img {
		width: 200px;
		height:2300px;
	    }
	    h1 {
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		position: absolute;
		bottom:0;
		left:0;
		margin: 0 auto;
		padding: 0 10px;
		font-size: 36px;
	    }
	}
	a:hover {
	    h1 {
		background-color: rgba(164,0,0,0.5);
	    }
	}
	
    }
}
#artist {
    margin-right: 250px;
    img {
	margin-left: 5px;
	float: right;
	width: 200px;
	height: 200px;
	border-radius: 5px;
	border: 1px solid #fff;
    }
}
.releases{
    position:relative;
    width: 250px;
    float: right;
    margin-top: 90px;
    h1.rotate {
	position:absolute;
	top: 0px;
	left: -70px;
	line-height: 0.5;
	float: left;
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: right top;
	-moz-transform: rotate(270deg);
	-moz-transform-origin: left  top;
	-ms-transform: rotate(270deg);
	-ms-transform-origin: left top;
	-o-transform: rotate(270deg);
	-o-transform-origin: left top;
	transform: rotate(270deg);
	transform-origin: right top;
	/* Should be unset in IE9+ I think. */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
    .feature {
	margin-left: 110px;
	margin-top:15px;
	
    }

}