@import url("/assets/leaguegothic/stylesheet.css");
@import url("/assets/junction/stylesheet.css");

body{
    margin: 0 auto;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a40000;
    color: #fff;
    height:200px;
}
header > img.logo{
    height: 200px;
    float: left;
}
header > h1 {
    font-family:'League Gothic', sans-serif;
    font-size: 100px!important;
    letter-spacing:1px;
    margin-top: 40px;
} 
header > ul {
    list-style: none;
    margin-left: 250px;
    margin-top: -80px;
}
header > ul > li {
    float:left;
    margin-left: 15px;
    font-family: 'League Gothic', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
}
body h1 {
    font-family:'League Gothic', sans-serif;
    font-size: 48px;
    letter-spacing:1px;
}
body p {
    font-family: 'Junction';
    line-height: 1.2em;
}
a.black,
a.black:hover,
a.black.active,
a.black.visited {
    text-decoration:none;
    color:#000;
}
a.white,
a.white:hover,
a.white.active,
a.white.visited {
    text-decoration:none;
    color:#fff;
}

body > div#main {
    padding-top: 200px;
    margin: 0 auto;
    width: 80%;
}
body > div#main > div#sidebar {
    width: 194px;
    position: fixed;
    left: 0;
    top: 200px;
}
body > div#main > div#content {
    margin: 0 auto;
}
