// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#news {
    width: 90%;
    margin: 0 auto;
    .news-item {
	min-height: 275px;
	div{
	    min-height: 15px;
	    .title {
		float:left;
		margin-right: 20px;
	    }
	    .date {
		font-size:0.8em;
		float: right;
	    }
	}
	.description {
	    position:relative;
	    min-height: 200px;
	    width: 100%;
	    background: #FFC0CB;
	    margin-top:2em;
	    .textwrapper {
		margin-left:200px;
		min-height: 200px;
		padding-bottom: 5px;
		overflow:hidden;
	    }
	    .imgwrapper {
		position: absolute;
		margin-top:-10px;
		margin-left:-10px;
		height:200px;
		width:200px;
		overflow:hidden;
	    }
	}
	ul{
	    list-style:none;
	    li{float:right; margin-left:10px;}
	}
    }
}