// Place all the styles related to the Releases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#releases{
    width: 100%;
    .release {

	position:relative;
	float: left;
	width:300px;
	height:300px;
	overflow:hidden;
	border: 1px solid #fff;
	border-radius: 5px;
	margin-right: 15px;
	background-color: #a40000;

	img {
	    display:block;
	    min-height: 300px;
	    min-width: 300px;
	    height: auto;
	    width: auto;
	    margin:auto;
	}   
	h1 {
	    display:none;
	    
	}
	a:hover {
	    h1{
		display:block;
		background-color: rgba(164,0,0,0.5);
		width: 100%;
		position: absolute;
		bottom:0;
		left:0;
		margin: 0 auto;
		padding: 0 10px;
	    }
	}
    }
}
#release {
    div.title {
	width: 90%;
	h1 {
	    display:inline;
	    width: 70%;
	    margin:auto;
	}
	ul {
	    float:left;
	    display: inline;
	    list-style: none;
	    li {
		margin-right: 10px;
		a {
		    background-color: rgb(0,0,0);
		    background-color: rgba(0,0,0,0.5);
		    border-radius: 6px;
		    padding: 6px;
		}
		a:hover {
		    background-color: rgba(164,0,0,0.5);
		}
	    }
	}
    }
    img {
	display:block;
	min-height: 300px;
	min-width: 300px;
	height: auto;
	width: auto;
	border: 1px solid #fff;
	border-radius: 5px;
    }
}

