<% title "RELEASES" %>
<h1>RELEASES</h1>
<div id="releases">
  <% if session[:user_id] %>    
  <% render 'table', :f => @releases_all %>
  <%= link_to 'New Release', new_release_path, :class => "btn" %>
  <p><%= will_paginate @releases_all %></p>
  <% else %>
  <% render 'grid', :f => @releases %>
  <p><%= will_paginate @releases %></p>
  <% end %>
</div>


