<% content_for :footer do %>
<div id="footer">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="nav-collapse collapse">
	<ul class="nav dropup">
	  <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Soundcloud Player <b class="caret"></b></a>
          <ul class="dropdown-menu" style="width:400px;">
	    <% soundcloudid = 'eidolarecordcompany' if local_assigns[:soundcloudid] == "" || local_assigns[:soundcloudid].nil? %>
	    <% logger.info 'Soundcloud ID: ' << soundcloudid %>
	    <%= soundcloud(soundcloudid).html_safe %>
	  </ul>  
	</ul>
      </div>
    </div>
  </div>
</div>
<% end %>
