<div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-href="<%= Rails.application.routes.url_helpers.news_path f %>" data-height="60"></div>
<a class="twitter-share-button" data-url="<%= Rails.application.routes.url_helpers.news_path f %>" data-via="eidolarecords" data-lang="en" data-count="vertical">Tweet</a>

