<div class="feature">
  <div class="item">
    <%= link_to f, :title=> f.title, :class => 'white' do %>
    <h1><%= f.title %></h1>
    <%= image_tag(f.cover.url(:thumb)) %>
    <% end %>
  </div>
</div>
 
